<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>930771409692-1np6i98gjcnolb74485guunnis0eqqm7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.930771409692-1np6i98gjcnolb74485guunnis0eqqm7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>930771409692-c5u27o3tbinrgivs53idlvm30bpp4rvh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDlf5fUVebuYarFbxtqDFtgEaMt5Wx_iCQ</string>
	<key>GCM_SENDER_ID</key>
	<string>930771409692</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lango</string>
	<key>PROJECT_ID</key>
	<string>lango-application</string>
	<key>STORAGE_BUCKET</key>
	<string>lango-application.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:930771409692:ios:e4596a0929b3c72bf6f8d9</string>
</dict>
</plist>